<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="box">
			<select v-model="input">
				<option value="0">百度</option>
				<option value="1">谷歌</option>
			</select>
			<div v-if="input == 0">
				<input type="text" />
				<button>百度一下</button>
			</div>
			<div v-else-if="input == 1">
				<input type="text" />
				<button>谷歌搜素</button>
			</div>
		</div>
	</body>
	<script src="vue.js"></script>
	<script>
		 new Vue({
		 	el:"#box",
		 	data:{
		 		input:0
		 	}
		 })
	</script>
</html>
